@use 'colors' as color;

$desktop: 1200px;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-padding-top: 72px;

	@media (max-width: 275px) {
		scroll-padding-top: 112px;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ddd;
	font-size: 10px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto;
	width: 4rem;
	height: 0.25rem;
	background-color: color.$main-color;
}

.blue-text {
	color: color.$main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

nav {
	text-transform: uppercase;
	font-size: 1rem;
	transition: background-color 0.5s;
	z-index: 999;

	.navbar-brand {
		color: color.$white;
		font-weight: bold;
	}

	.navbar-nav {
		.nav-link {
			color: color.$white;

			&:hover {
				color: color.$main-color;
			}

			&.active {
				color: color.$main-color;
			}
		}
	}
}

.hero-bg {
	width: 100%;
	height: 100vh;
	background-image: url(../img/mobile/logo-mobile.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	@media (min-width: $desktop) {
		background-image: url(../img/desktop/logo-desktop.jpg);
	}

	.hero-shadow-and-text {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.8);

		h1 {
			padding: 1rem;
			color: color.$white;
			text-transform: uppercase;
			font-size: 2rem;

			span:first-child {
				&::after {
					content: '\a';
					white-space: pre;
				}
			}

			span:last-child {
				font-size: 0.8rem;
				text-transform: none;
			}
		}

		@media (min-width: $desktop) {
			h1 {
				font-size: 4rem;

				span:last-child {
					font-size: 1.5rem;
				}
			}
		}

		@media (min-width: 375px) {
			h1 {
				font-size: 2.5rem;

				span:last-child {
					font-size: 1rem;
				}
			}
		}

		@media (min-width: 768px) {
			h1 {
				font-size: 3rem;

				span:last-child {
					font-size: 1.5rem;
				}
			}
		}
	}

	.btn-outline-light {
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translateX(-50%);
		font-size: 2rem;
		color: color.$white;

		@media (min-width: $desktop) {
			font-size: 3rem;
		}
	}
}

.aboutus {
	i {
		margin-top: 1.3rem;
		font-size: 1.9rem;
	}

	.aboutus-card-title {
		font-size: 1.1rem;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 0.8rem;
	}

	.aboutus-hover {
		transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: color.$main-color;
	}
}

.aboutus-hero {
	background-image: url(/img/mobile/procesor-mobile.jpg);
	background-size: cover;
	background-position: center;

	@media (min-width: 992px) {
		background-image: url(/img/desktop/procesor-desktop.jpg);
	}
}

.aboutus-hero-content {
	color: color.$light-gray;
	background: rgba(0, 0, 0, 0.7);

	h2 {
		padding-top: 2.5rem;
	}

	.aboutus-heading {
		margin-top: 1.5rem;
	}

	.aboutus-item {
		margin: 0.6rem 0;
	}

	i {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	.aboutus-text {
		font-size: 1.3rem;
	}
}

.portfolio {
	.container {
		margin-top: 2rem;
	}
	.carousel-item {
		height: 600px;
	}

	h3 {
		font-size: 2rem;
	}

	.carousel-caption {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 40px 0;
		font-size: 1rem;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.carousel-indicators {
		padding-bottom: 20px;
	}
}

.portfolio-cards {
	padding: 2rem 0.3rem 0;

	.card {
		max-width: 100%;
		margin-bottom: 1rem;

		.card-title {
			font-size: 1.2rem;
			text-align: center;
		}
		.card-text {
			font-size: 0.8rem;
		}

		@media (min-width: 576px) {
			margin: 0 1rem;

			.card-img-top {
				height: 9rem;
			}

			.card-title {
				font-size: 2rem;
			}

			.card-text {
				font-size: 1rem;
			}
		}
	}

	@media (min-width: 768px) {
		height: 100%;
	}

	@media (min-width: 992px) {
		display: none;
	}
}

.prices {
	.packages-container {
		max-width: 1200px;
	}

	.device {
		padding: 2rem 4rem;
		background-color: color.$white;
		box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.5);
		margin-bottom: 1.5rem;

		p:last-of-type {
			font-size: 2rem;
			font-weight: bold;
		}
	}

	h3 {
		font-size: 1.3rem;
		border-bottom: 1px solid rgba(99, 94, 94, 0.3);
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		text-transform: uppercase;
		color: color.$main-color;
	}

	p {
		font-size: 0.8rem;

		span {
			font-weight: bold;
		}

		i {
			font-size: 1.3rem;
			letter-spacing: 0.5rem;
		}
	}

	button[type='button']:not(:disabled) {
		color: color.$white;
		background-color: rgb(122, 119, 119);
		transition: background-color 0.15s ease-in-out;

		&:hover {
			background-color: color.$main-color;
		}
	}

	.device2 {
		button[type='button']:not(:disabled) {
			background-color: color.$main-color;

			&:hover {
				background-color: rgb(122, 119, 119);
			}
		}
	}
	.prices-footer {
		padding: 1rem;
		text-align: center;
	}

	@media (min-width: 768px) {
		.packages-container {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 3rem 1rem;

			.device1 {
				grid-column: 1 / 4;
				grid-row: 1 / 2;
			}

			.device2 {
				grid-column: 3 / 6;
				grid-row: 2 / 3;
			}

			.device3 {
				grid-column: 5 / 8;
				grid-row: 1 / 2;
				margin-top: 24px;
			}
		}

		@media (min-width: 1200px) {
			.packages-container {
				display: flex;
				margin: 3rem 0;

				.device {
					margin: 0 2rem;
				}

				.device2 {
					margin-top: 24px;
				}

				.device3 {
					margin-top: 24px;
				}
			}
		}
	}

	@media (max-width: 320px) {
		.device {
			max-width: 230px;
		}
	}
}
