*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 72px;
}
@media (max-width: 275px) {
  html {
    scroll-padding-top: 112px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ddd;
  font-size: 10px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto;
  width: 4rem;
  height: 0.25rem;
  background-color: #039dff;
}

.blue-text {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  text-transform: uppercase;
  font-size: 1rem;
  transition: background-color 0.5s;
  z-index: 999;
}
nav .navbar-brand {
  color: #fff;
  font-weight: bold;
}
nav .navbar-brand:hover {
  color: #039dff;
}
nav .navbar-brand:hover span {
  color: #fff;
}
nav .navbar-nav .nav-link {
  color: #fff;
}
nav .navbar-nav .nav-link:hover {
  color: #039dff;
}
nav .navbar-nav .nav-link.active {
  color: #039dff;
}

.hero-bg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/mobile/logo-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width: 1200px) {
  .hero-bg {
    background-image: url(../img/desktop/logo-desktop.jpg);
  }
}
.hero-bg .hero-shadow-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.hero-bg .hero-shadow-and-text h1 {
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}
.hero-bg .hero-shadow-and-text h1 span:first-child::after {
  content: "\a";
  white-space: pre;
}
.hero-bg .hero-shadow-and-text h1 span:last-child {
  font-size: 0.8rem;
  text-transform: none;
}
@media (min-width: 1200px) {
  .hero-bg .hero-shadow-and-text h1 {
    font-size: 4rem;
  }
  .hero-bg .hero-shadow-and-text h1 span:last-child {
    font-size: 1.5rem;
  }
}
@media (min-width: 375px) {
  .hero-bg .hero-shadow-and-text h1 {
    font-size: 2.5rem;
  }
  .hero-bg .hero-shadow-and-text h1 span:last-child {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .hero-bg .hero-shadow-and-text h1 {
    font-size: 3rem;
  }
  .hero-bg .hero-shadow-and-text h1 span:last-child {
    font-size: 1.5rem;
  }
}
.hero-bg .btn-outline-light {
  text-transform: uppercase;
}
.hero-bg .fa-chevron-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
}
@media (min-width: 1200px) {
  .hero-bg .fa-chevron-down {
    font-size: 3rem;
  }
}

.aboutus i {
  margin-top: 1.3rem;
  font-size: 1.9rem;
}
.aboutus .aboutus-card-title {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 0.8rem;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}

.aboutus-hero {
  background-image: url(/img/mobile/procesor-mobile.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 992px) {
  .aboutus-hero {
    background-image: url(/img/desktop/procesor-desktop.jpg);
  }
}

.aboutus-hero-content {
  color: #ddd;
  background: rgba(0, 0, 0, 0.7);
}
.aboutus-hero-content h2 {
  padding-top: 2.5rem;
}
.aboutus-hero-content .aboutus-heading {
  margin-top: 1.5rem;
}
.aboutus-hero-content .aboutus-item {
  margin: 0.6rem 0;
}
.aboutus-hero-content i {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.aboutus-hero-content .aboutus-text {
  font-size: 1.3rem;
}

.portfolio .container {
  margin-top: 2rem;
}
.portfolio .carousel-item {
  height: 600px;
}
.portfolio h3 {
  font-size: 2rem;
}
.portfolio .carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px 0;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.portfolio .carousel-indicators {
  padding-bottom: 20px;
}

.portfolio-cards {
  padding: 2rem 0.3rem 0;
}
.portfolio-cards .card {
  max-width: 100%;
  margin-bottom: 1rem;
}
.portfolio-cards .card .card-title {
  font-size: 1.2rem;
  text-align: center;
}
.portfolio-cards .card .card-text {
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  .portfolio-cards .card {
    margin: 0 1rem;
  }
  .portfolio-cards .card .card-img-top {
    height: 9rem;
  }
  .portfolio-cards .card .card-title {
    font-size: 2rem;
  }
  .portfolio-cards .card .card-text {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .portfolio-cards {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .portfolio-cards {
    display: none;
  }
}

.prices .packages-container {
  max-width: 1200px;
}
.prices .device {
  padding: 2rem 4rem;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;
}
.prices .device:hover {
  transform: scale(1.05);
}
.prices .device p:last-of-type {
  font-size: 2rem;
  font-weight: bold;
}
.prices h3 {
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(99, 94, 94, 0.3);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  color: #039dff;
}
.prices p {
  font-size: 0.8rem;
}
.prices p span {
  font-weight: bold;
}
.prices p i {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
}
.prices button[type=button]:not(:disabled) {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(122, 119, 119);
  transition: background-color 0.15s ease-in-out;
}
.prices button[type=button]:not(:disabled):hover {
  background-color: #039dff;
}
@media (max-width: 320px) {
  .prices button[type=button]:not(:disabled) {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}
.prices .device2 button[type=button]:not(:disabled) {
  background-color: #039dff;
}
.prices .device2 button[type=button]:not(:disabled):hover {
  background-color: rgb(122, 119, 119);
}
.prices .prices-footer {
  padding: 1rem;
  text-align: center;
}
.prices .prices-footer a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .prices .packages-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3rem 1rem;
  }
  .prices .packages-container .device1 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .prices .packages-container .device2 {
    grid-column: 3/6;
    grid-row: 2/3;
  }
  .prices .packages-container .device3 {
    grid-column: 5/8;
    grid-row: 1/2;
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .prices .packages-container {
    display: flex;
    margin: 3rem 0;
  }
  .prices .packages-container .device {
    margin: 0 2rem;
  }
  .prices .packages-container .device2 {
    margin-top: 24px;
  }
  .prices .packages-container .device3 {
    margin-top: 24px;
  }
}
@media (max-width: 320px) {
  .prices .device {
    max-width: 230px;
  }
}

.team {
  position: relative;
  background-image: url(/img/desktop/chairs-2181960_1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.team h2 {
  color: #ddd;
}
.team .bg-hero-team {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
}
.team .card {
  transition: transform 0.3s ease-in-out;
}
.team .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .card .card-title {
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}
.team .card .card-text {
  font-size: 0.7rem;
}
.team .card:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=main.css.map */