// PRIMARY
$main-bg: rgb(255, 255, 255);
$footer-bg: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$dark: rgb(2, 11, 5);

// OFFER SECTION
$greyed-out: rgb(149, 149, 149);
$light-green: hsl(144, 73%, 52%);
$light-green-box-shadow: rgba(57, 219, 71, 0.6);
$desaturated-light-green: hsl(144, 55%, 52%);
$disabled: rgb(109, 109, 109);

// OTHER
$dark-grey: rgb(74, 74, 78);
