@media (min-width: 576px) {
	.section {
		&-title {
			font-size: 4rem;
		}
	}
	// NAVIGATION
	.nav {
		&__navbar {
			padding: 1.5em 2em;
		}

		&__logo {
			font-size: 3.5rem;
		}
	}

	// HEADER
	.header {
		height: 50vh;
		&__heading {
			font-size: 3rem;

			&-text {
				padding-top: 0;
				font-size: 4rem;
			}
		}
	}

	// ABOUT US
	.about-us {
		padding: 5em;

		&__text {
			&-heading {
				font-size: 3rem;
			}

			&-content {
				font-size: 1.5rem;
			}
		}
	}
	// ASIDE
	.aside {
		max-height: 200px;

		&-title {
			padding: 1em 3em;
			text-shadow: 1px 1px #000;
		}
	}
}

@media (min-width: 768px) {
	// HEADER
	.header {
		height: 65vh;
		background-image: url(/dist/img/desktop/header-desktop.jpg);

		&__heading {
			padding-left: 2em;
		}
	}

	// ASIDE
	.aside {
		&-title {
			padding: 1em 2.5em;
			font-size: 4rem;
		}
	}

	// OFFER
	.offer {
		.cards-box {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;

			&__item {
				margin: 3em;
			}
		}
	}
}
